<div ng-show="$ctrl.isLoading"><loading></loading></div>
<div ng-show="!$ctrl.isLoading">
	<h3 style="margin-bottom: 0px;">Cart: {{$ctrl.cart.name}} (Id: {{$ctrl.cart.id}})</h3>
	<div>Total: {{$ctrl.getCartTotal() | currency}}</div>
	<!-- {{$ctrl.fullcart | json}} -->
	<div ng-if="!$ctrl.cart.items || $ctrl.cart.items.length == 0">
		No items
	</div>
	<ul>
		<li ng-repeat="i in $ctrl.cart.items">
			{{i.productName}} {{i.quantity}} @ {{i.priceDollar | currency}} = {{i.quantity * i.priceDollar | currency}}
		</li>
	</ul>
</div>
