<div class="card">
	<div class="card-body">
	<h3 style="margin-bottom: 0px;">Cart: {{cart.name}} ({{cart.id}})</h3>
	<div *ngIf="!cart.items || cart.items.length == 0">No items</div>
	<ul>
		<li *ngFor="let i of cart.items">
			{{i.productName}} {{i.quantity}} @ {{i.priceDollar | currency}} = {{i.quantity * i.priceDollar | currency}}
			<span *ngIf="i.id == selectedCartitem">
				<button (click)="selectedCartitem=0" class="btn btn-sm btn-outline-secondary">Close</button>
			</span>
			<span *ngIf="i.id != selectedCartitem">
				<button (click)="selectedCartitem=i.id" class="btn btn-sm btn-outline-secondary">Edit</button>
			</span>
			<div *ngIf="selectedCartitem==i.id">
 				<app-cartitem-edit [cart]="cart" [cartitem]="i" (savedShoppingcartItem)="updateItem($event)"></app-cartitem-edit>
			</div>
		</li>
	</ul>
	<div>Cart total: {{cart.totalDollar | currency}}</div>
</div>
</div>
