<div class="container" style="padding: 10px; line-height: 28px;">
	<div class="col-md-8">
			<span ng-if="$ctrl.cartlist.length == 0">No Carts Found</span>
			<span ng-if="$ctrl.cartlist.length > 0">Carts found: {{$ctrl.cartlist.length}}</span>
			<span ng-if="$ctrl.isLoading"><loading></loading></span>
		</div>
	<div class="col-md-4">
		
	</div>
</div>

<div ng-if="$ctrl.cartlist.length > 0">
	<!-- shoppingcart-list loops the carts and passes to the display component: -->
	<ul style="margin: 0px;">
		<li style="display: block";>
			<span style="display: table-cell; width: 5em;">Id</span>
			<span style="display: table-cell; width: 15em;">Name</span>
			<span style="display: table-cell; width: 5em;">Total</span>
			<span style="display: table-cell; width: 10em;"></span>
		</li>
		<li ng-repeat="c in $ctrl.cartlist" 
			style="display: block; padding: 5px;"
			ng-class="{rowSelected: c.id == $ctrl.cartSelected.id}">
			<shoppingcart-display cart="c"></shoppingcart-display>
			<span>
			<button ng-click="$ctrl.select(c)" class="btn btn-primary">SELECT</button>
			<button ng-click="$ctrl.delete(c)" class="btn btn-danger">DELETE</button>
			</span>
		</li>
	</ul>
</div>

<div ng-if="$ctrl.cartSelected">
	<shoppingcart-detail cart="$ctrl.cartSelected"></shoppingcart-detail>
	<cartitem-edit cart="$ctrl.cartSelected" on-add-item="$ctrl.addItem(item)"></cartitem-edit>
	<button ng-click="$ctrl.cartSelected = false" class="btn btn-default">Close</button>
	<!-- {{$ctrl.cartSelected | json}} -->
</div>

<!--{{$ctrl.cartlist | json}}-->
<div>
	<br>
	<br>
	<br>
</div>
<div class="col-md-6">
<shoppingcart-create on-create="$ctrl.create(name)"></shoppingcart-create>
</div>
<div>
		<br>
		<br>
		<br>
	</div>
	<div>
			<br>
			<br>
			<br>
		</div>
		<div>
				<br>
				<br>
				<br>
			</div>
		