<div *ngIf="isLoading">Loading</div>
<div style="padding: 10px;" *ngIf="!isLoading">
	<select [(ngModel)]="cartitem.productId" (change)="populateProduct()" name="productId">
		<option *ngFor="let p of productList" value="{{p.id}}">{{p.name}} {{p.priceDollar | currency}}</option>
	</select>
	<input type="number" placeholder="Quantity" [(ngModel)]="cartitem.quantity" name="quantity" [size]="3">

	<button (click)="save()" class="btn btn-primary">SAVE</button>

	<span>Cart Total Would Be: {{ cartWorkingTotal | currency}}</span>
</div>
