<div class="row" style="padding: 10px; line-height: 28px;">
	<div class="col-8">
		<span *ngIf="cartList.length == 0">No Carts Found</span>
		<span *ngIf="cartList.length > 0">Carts found: {{cartList.length}}</span>
		<span *ngIf="isLoading">Loading...</span>
	</div>
	<div class="col-4"></div>
</div>

<div *ngIf="cartList.length > 0">
	<ul style="margin: 0px;">
		<li style="display: block;">
			<span style="display: table-cell; width: 5em;">Id</span>
			<span style="display: table-cell; width: 15em;">Name</span>
			<span style="display: table-cell; width: 5em;">Total</span>
			<span style="display: table-cell; width: 10em;"></span>
		</li>
		<li *ngFor="let cart of cartList"
			style="display: block; padding: 5px;"
			[ngClass]="{rowSelected: cartSelected && cart.id == cartSelected.id}">
			<app-shoppingcart-display [cart]="cart" [cartname]="cart.name"></app-shoppingcart-display>
			<span>
					<button (click)="select(cart)" class="btn btn-primary">SELECT</button>
					<button (click)="delete(cart)" class="btn btn-danger">DELETE</button>
					</span>
		</li>
	</ul>
</div>

<div *ngIf="cartSelected" style="padding: 10px;">
	<app-shoppingcart-detail [cart]="cartSelected"></app-shoppingcart-detail>
	<!-- edit form used to create new item: -->
	<div style="padding: 10px;">
	Add an item:
	<app-cartitem-edit [cart]="cartSelected"  (saveItem)="addCartitem($event)"></app-cartitem-edit>
	</div>
	<div><button (click)="cartSelected = null" class="btn btn-default">Close {{cartSelected.name}} cart</button></div>
</div>

<div style="padding-top: 20px;">
<app-shoppingcart-create (added)="onCreateCart($event)"></app-shoppingcart-create>
</div>
